<template>
  <div>
    <svg :style="{ opacity: reveal ? 1 : 0 }" viewBox="0 0 410 410" xmlns="http://www.w3.org/2000/svg" height="200">
      <path id="tentacle-end" d="M79.688 435.689c-68.893-.214 35.052-70.337 56.594-107.777 16.361-28.433 11.011-60.436-4.28-81.558-34.9-48.21-124.438-109.038-102.118-177.835 8.189-25.24 25.067-39.323 51.365-42.313 48.75-5.542 113.799 26.752 162.654 31.275 5.087.47 11.301-2.713 13.453-7.359 2.784-6.012-6.385-23.481-.843-19.869 28.251 21.687 25.543 44.788-.381 55.436-30.645 10.296-132.993-23.774-145.532 6.746-13.472 32.788 177.137 59.328 199.954 192.552 9.316 54.395-1.547 148.472-40.086 148.358z" fill="#93aca7" stroke="#374845" stroke-width="6.27" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1"/>
      <path id="tentacle-start" d="M-191.603 1332.851c-54.831 41.713-16.877-64.79 5.891-101.498 29.149-46.997 43.569-84.272 62.449-125.33 24.865-54.074 48.295-105.779 73.443-176.893 8.847-25.017 15.251-52.376 28.009-82.608 19.075-45.204 33.776-150.386 116.565-228.595 20.071-18.96 81.291-55.133 91.443-99.2 18.583-80.668 28.073-137.906 38.468-5.821 6.657 84.579-72.329 129.384-115.222 203.561-19.909 64.39-38.504 151.837-47.969 183.445-10.638 35.527-12.778 94.5-19.272 144.809-7.065 54.733-62.824 157.36-93.493 180.698z" fill="#93aca7" stroke="#374845" stroke-width="6.27" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1"/>
      <path class="sucker-end" id="sucker-base-end-9" d="M115.714 63.172c-10.419 2.336-20.755.375-23.086-4.38-2.331-4.755 4.225-10.504 14.644-12.84 10.419-2.337 20.755-.376 23.086 4.379 2.331 4.755-4.225 10.504-14.644 12.841z" fill="#a40" stroke-width=".438"/>
      <path class="sucker-end" id="sucker-base-end-10" d="M73.341 66.146c-7.194 6.511-16.235 9.59-20.195 6.876-3.959-2.715-1.337-10.193 5.856-16.705 7.194-6.511 16.235-9.59 20.195-6.876 3.959 2.714 1.337 10.193-5.856 16.705z" fill="#a40" stroke-width=".398"/>
      <path class="sucker-end" id="sucker-base-end-13" d="M111.749 111.361c10.201 3.31 18.143 10.295 17.741 15.601-.403 5.306-8.999 6.924-19.2 3.614-10.2-3.31-18.143-10.295-17.74-15.601.402-5.306 8.998-6.924 19.199-3.614z" fill="#a40" stroke-width=".44"/>
      <path class="sucker-end" id="sucker-base-end-8" d="M156.697 90.191c-12.737.417-25.361-4.611-28.198-11.232-2.836-6.62 5.19-12.325 17.926-12.742 12.737-.417 25.362 4.611 28.198 11.231 2.837 6.621-5.189 12.326-17.926 12.743z" fill="#a40" stroke-width=".546"/>
      <path class="sucker-end" id="sucker-base-end-11" d="M104.417 90.37c-7.193 6.512-16.235 9.59-20.194 6.876-3.96-2.714-1.338-10.193 5.856-16.704 7.193-6.512 16.235-9.59 20.194-6.876 3.96 2.714 1.338 10.193-5.856 16.704z" fill="#a40" stroke-width=".398"/>
      <path class="sucker-end" id="sucker-base-end-7" d="M176.547 63.74c-7.563.247-15.059-2.738-16.743-6.669-1.684-3.931 3.081-7.319 10.644-7.567 7.563-.247 15.059 2.739 16.743 6.67 1.684 3.93-3.081 7.318-10.644 7.566z" fill="#a40" stroke-width=".324"/>
      <path class="sucker-end" id="sucker-base-end-6" d="M200.186 81.903c-7.563.248-15.059-2.738-16.743-6.669-1.685-3.931 3.081-7.318 10.644-7.566 7.562-.248 15.058 2.738 16.743 6.669 1.684 3.931-3.082 7.318-10.644 7.566z" fill="#a40" stroke-width=".324"/>
      <path class="sucker-end" id="sucker-base-end-5" d="M225.322 72.602c-7.364-1.693-14.655-6.689-16.284-11.157-1.63-4.468 3.02-6.717 10.384-5.024 7.364 1.694 14.655 6.689 16.284 11.158 1.629 4.468-3.02 6.717-10.384 5.023z" fill="#a40" stroke-width=".324"/>
      <path class="sucker-end" id="sucker-base-end-4" d="M246.091 85.152c-5.063.714-10.084-.692-11.215-3.142-1.13-2.45 2.058-5.015 7.121-5.73 5.062-.715 10.083.691 11.214 3.141 1.13 2.45-2.057 5.016-7.12 5.731z" fill="#a40" stroke-width=".215"/>
      <path class="sucker-end" id="sucker-base-end-2" d="M259.507 67.247c-4.169 2.968-9.273 4.031-11.4 2.376-2.126-1.655-.47-5.402 3.7-8.37 4.17-2.967 9.274-4.031 11.4-2.376 2.126 1.656.47 5.403-3.7 8.37z" fill="#a40" stroke-width=".215"/>
      <path class="sucker-end" id="sucker-base-end-1" d="M268.101 45.398c2.033 2.873 2.761 6.389 1.627 7.854-1.133 1.464-3.7.323-5.733-2.549-2.032-2.872-2.761-6.388-1.627-7.853 1.134-1.465 3.701-.324 5.733 2.548z" fill="#a40" stroke-width=".147"/>
      <path class="sucker-end" id="sucker-base-end-3" d="M269.099 73.176c-1.496 2.606-3.956 4.428-5.494 4.069-1.537-.36-1.571-2.764-.074-5.37 1.496-2.606 3.956-4.428 5.493-4.069 1.538.36 1.572 2.764.075 5.37z" fill="#a40" stroke-width=".126"/>
      <path class="sucker-end" id="sucker-base-end-19" d="M243.121 308.65c11.651 21.864 8.552 48.747-6.924 60.044-15.475 11.298-37.465 2.731-49.116-19.133-11.652-21.865-8.552-48.748 6.923-60.045 15.475-11.297 37.465-2.73 49.117 19.134z" fill="#a40" stroke-width="1.281"/>
      <path class="sucker-end" id="sucker-base-end-18" d="M299.589 316.946c.076 20.119-7.289 36.457-16.45 36.492-9.162.035-16.652-16.246-16.728-36.365-.077-20.118 7.288-36.456 16.45-36.491 9.162-.035 16.651 16.246 16.728 36.364z" fill="#a40" stroke-width=".802"/>
      <path class="sucker-end" id="sucker-base-end-16" d="M197.214 214.803c12.704 18.758 14.254 40.597 3.46 48.78-10.793 8.182-29.842-.392-42.547-19.15-12.705-18.758-14.254-40.598-3.461-48.78 10.794-8.182 29.843.391 42.548 19.15z" fill="#a40" stroke-width="1.034"/>
      <path class="sucker-end" id="sucker-base-end-17" d="M263.141 215.144c15.871 20.482 21.176 42.979 11.849 50.248-9.328 7.269-29.756-3.442-45.627-23.924-15.872-20.483-21.177-42.98-11.849-50.249 9.327-7.269 29.755 3.443 45.627 23.925z" fill="#a40" stroke-width="1.034"/>
      <path class="sucker-end" id="sucker-base-end-15" d="M128.203 162.625c13.782 12.664 19.6 31.598 12.995 42.289-6.605 10.692-23.131 9.093-36.913-3.571-13.782-12.664-19.599-31.597-12.995-42.289 6.605-10.691 23.132-9.093 36.913 3.571z" fill="#a40" stroke-width=".898"/>
      <path class="sucker-end" id="sucker-base-end-14" d="M178.592 129.499c20.534 9.12 33.814 24.136 29.661 33.541-4.153 9.405-24.166 9.636-44.7.517-20.535-9.12-33.814-24.137-29.661-33.541 4.152-9.405 24.166-9.636 44.7-.517z" fill="#a40" stroke-width=".898"/>
      <path class="sucker-end" id="sucker-base-end-12" d="M76.655 104.509c8.327 16.779 9.337 35.218 2.256 41.185-7.082 5.967-19.573-2.798-27.9-19.577-8.328-16.779-9.337-35.217-2.256-41.184 7.082-5.967 19.573 2.797 27.9 19.576z" fill="#a40" stroke-width=".767"/>
      <path id="sucker-base-start-16" d="M-20.954 1024.45c-3.009 22.455-16.392 39.783-29.894 38.703-13.501-1.081-22.007-20.16-18.998-42.615 3.008-22.455 16.392-39.783 29.893-38.703 13.501 1.081 22.007 20.16 18.999 42.615z" fill="#a40" stroke-width="1.034"/>
      <path id="sucker-base-start-17" d="M37.955 1035.45c-1.793 25.85-12.812 46.169-24.611 45.383-11.8-.786-19.911-22.379-18.118-48.228 1.793-25.85 12.812-46.168 24.611-45.383 11.8.786 19.911 22.379 18.118 48.228z" fill="#a40" stroke-width="1.034"/>
      <path id="sucker-base-start-14" d="M54.321 937.86c-2.165 22.363-12.217 39.707-22.452 38.738-10.235-.968-16.777-19.883-14.612-42.247 2.164-22.364 12.216-39.708 22.451-38.739 10.235.969 16.778 19.884 14.613 42.248z" fill="#a40" stroke-width=".898"/>
      <path id="sucker-base-start-18" d="M-3.078 1132.587c.076 20.118-7.289 36.456-16.45 36.491-9.162.035-16.652-16.245-16.728-36.364-.077-20.118 7.288-36.456 16.45-36.491 9.162-.035 16.651 16.245 16.728 36.364z" fill="#a40" stroke-width=".802"/>
      <path id="sucker-base-start-15" d="M9.955 910.759c-4.28 18.221-17.93 32.574-30.487 32.059-12.556-.515-19.265-15.703-14.985-33.923 4.281-18.221 17.931-32.574 30.488-32.059 12.556.515 19.265 15.703 14.984 33.923z" fill="#a40" stroke-width=".898"/>
      <path id="sucker-base-start-19" d="M-59.546 1124.291c11.651 21.864 8.552 48.747-6.923 60.044-15.475 11.297-37.466 2.731-49.117-19.134-11.652-21.864-8.552-48.747 6.923-60.044 15.475-11.297 37.465-2.731 49.117 19.134z" fill="#a40" stroke-width="1.281"/>
      <path id="sucker-base-start-12" d="M35.413 828.792c-2.115 18.612-11.277 34.646-20.464 35.812C5.763 865.771.03 851.629 2.146 833.018c2.115-18.612 11.276-34.645 20.463-35.812 9.186-1.167 14.919 12.975 12.804 31.586z" fill="#a40" stroke-width=".767"/>
      <path id="sucker-base-start-9" d="M80.952 747.231c-4.636 9.619-12.59 16.504-17.765 15.38-5.175-1.125-5.612-9.833-.975-19.452 4.636-9.618 12.59-16.504 17.765-15.379 5.175 1.124 5.612 9.833.975 19.451z" fill="#a40" stroke-width=".438"/>
      <path id="sucker-base-start-10" d="M60.26 789.39c-2.349 9.415-8.144 17.007-12.945 16.958-4.8-.05-6.787-7.722-4.438-17.136 2.348-9.414 8.144-17.006 12.944-16.957 4.8.049 6.787 7.721 4.439 17.135z" fill="#a40" stroke-width=".398"/>
      <path id="sucker-base-start-13" d="M63.416 862.562c-3.194 10.238-10.088 18.26-15.398 17.918-5.31-.343-7.026-8.919-3.832-19.157s10.088-18.26 15.398-17.917c5.31.342 7.026 8.919 3.832 19.156z" fill="#a40" stroke-width=".44"/>
      <path id="sucker-base-start-8" d="M95.833 762.192c-4.84 11.789-14.601 21.243-21.803 21.116-7.201-.126-9.115-9.785-4.275-21.574 4.84-11.789 14.602-21.243 21.803-21.116 7.201.126 9.115 9.785 4.275 21.574z" fill="#a40" stroke-width=".546"/>
      <path id="sucker-base-start-11" d="M73.764 807.91c-2.349 9.415-8.144 17.007-12.944 16.957-4.8-.049-6.788-7.721-4.439-17.135 2.349-9.415 8.144-17.007 12.944-16.957 4.8.049 6.787 7.721 4.439 17.135z" fill="#a40" stroke-width=".398"/>
      <path id="sucker-base-start-7" d="M102.626 712.469c-5.873 4.771-13.648 6.927-17.367 4.816-3.719-2.112-1.973-7.692 3.9-12.463 5.873-4.772 13.648-6.928 17.367-4.816 3.719 2.112 1.973 7.691-3.9 12.463z" fill="#a40" stroke-width=".324"/>
      <path id="sucker-base-start-6" d="M123.436 702.636c-5.872 4.771-13.648 6.928-17.366 4.816-3.719-2.112-1.973-7.692 3.9-12.463 5.872-4.772 13.648-6.928 17.367-4.816 3.718 2.112 1.972 7.692-3.901 12.463z" fill="#a40" stroke-width=".324"/>
      <path id="sucker-base-start-5" d="M143.075 661.866c-4.578 6.012-12.133 10.597-16.876 10.241-4.743-.357-4.876-5.52-.299-11.532 4.578-6.012 12.133-10.597 16.876-10.241 4.742.357 4.876 5.52.299 11.532z" fill="#a40" stroke-width=".324"/>
      <path id="sucker-base-start-4" d="M163.066 648.113c-1.434 4.908-4.785 8.903-7.483 8.923-2.698.021-3.722-3.941-2.287-8.848 1.435-4.908 4.785-8.903 7.483-8.924 2.698-.021 3.722 3.941 2.287 8.849z" fill="#a40" stroke-width=".215"/>
      <path id="sucker-base-start-2" d="M182.142 611.875c-.773 5.059-3.564 9.463-6.233 9.836-2.668.374-4.205-3.424-3.431-8.483.773-5.059 3.564-9.463 6.233-9.837 2.668-.373 4.205 3.425 3.431 8.484z" fill="#a40" stroke-width=".215"/>
      <path id="sucker-base-start-3" d="M193.076 609.118c.829 2.889.423 5.923-.905 6.777-1.329.853-3.077-.797-3.906-3.686-.829-2.889-.423-5.922.905-6.776 1.329-.853 3.077.797 3.906 3.685z" fill="#a40" stroke-width=".126"/>
      <path id="sucker-top-start-3" d="M193.509 608.774c.748 2.606.382 5.344-.816 6.114-1.199.77-2.777-.719-3.524-3.325-.748-2.607-.382-5.344.816-6.114 1.199-.77 2.777.719 3.524 3.325z" fill="#f95" stroke-width=".114"/>
      <path id="sucker-top-start-2" d="M183.06 611.651c-.698 4.564-3.216 8.538-5.624 8.875-2.407.337-3.794-3.09-3.096-7.654.698-4.565 3.216-8.538 5.624-8.875 2.408-.337 3.794 3.09 3.096 7.654z" fill="#f95" stroke-width=".194"/>
      <path id="sucker-top-start-4" d="M164.007 648.011c-1.295 4.428-4.318 8.033-6.752 8.051-2.434.019-3.358-3.555-2.064-7.983 1.295-4.428 4.318-8.033 6.752-8.051 2.434-.019 3.358 3.555 2.064 7.983z" fill="#f95" stroke-width=".194"/>
      <path id="sucker-top-start-5" d="M144.767 661.871c-4.13 5.424-10.947 9.561-15.226 9.239-4.279-.322-4.4-4.98-.27-10.404 4.13-5.425 10.947-9.561 15.226-9.24 4.279.322 4.4 4.98.27 10.405z" fill="#f95" stroke-width=".293"/>
      <path id="sucker-top-start-6" d="M124.808 703.258c-5.299 4.305-12.314 6.25-15.669 4.345-3.355-1.905-1.78-6.939 3.519-11.244 5.298-4.305 12.313-6.251 15.669-4.345 3.355 1.905 1.779 6.939-3.519 11.244z" fill="#f95" stroke-width=".293"/>
      <path id="sucker-top-start-7" d="M103.997 713.091c-5.299 4.305-12.314 6.25-15.669 4.345-3.356-1.905-1.78-6.94 3.518-11.245 5.299-4.305 12.314-6.25 15.669-4.345 3.356 1.906 1.78 6.94-3.518 11.245z" fill="#f95" stroke-width=".293"/>
      <path id="sucker-top-start-11" d="M75.433 807.745c-2.119 8.494-7.348 15.344-11.679 15.299-4.331-.044-6.124-6.966-4.005-15.46 2.119-8.494 7.348-15.344 11.679-15.299 4.331.044 6.124 6.966 4.005 15.46z" fill="#f95" stroke-width=".359"/>
      <path id="sucker-top-start-8" d="M98.362 762.007c-4.367 10.637-13.174 19.166-19.671 19.052-6.498-.114-8.224-8.828-3.858-19.465 4.367-10.636 13.175-19.165 19.672-19.051 6.497.114 8.224 8.828 3.857 19.464z" fill="#f95" stroke-width=".493"/>
      <path id="sucker-top-start-13" d="M65.273 862.481c-2.881 9.236-9.101 16.474-13.892 16.165-4.791-.309-6.339-8.047-3.457-17.284 2.881-9.237 9.101-16.474 13.892-16.165 4.791.309 6.339 8.047 3.457 17.284z" fill="#f95" stroke-width=".397"/>
      <path id="sucker-top-start-10" d="M61.928 789.225c-2.119 8.494-7.348 15.344-11.679 15.3-4.33-.045-6.123-6.967-4.004-15.461 2.119-8.494 7.347-15.343 11.678-15.299 4.331.045 6.124 6.966 4.005 15.46z" fill="#f95" stroke-width=".359"/>
      <path id="sucker-top-start-9" d="M82.791 747.426c-4.183 8.678-11.359 14.89-16.028 13.876-4.669-1.015-5.063-8.872-.88-17.55s11.359-14.89 16.029-13.876c4.669 1.015 5.063 8.872.879 17.55z" fill="#f95" stroke-width=".395"/>
      <path id="sucker-top-start-12" d="M38.56 828.038c-1.908 16.792-10.175 31.258-18.463 32.311-8.288 1.053-13.46-11.706-11.552-28.498 1.909-16.792 10.175-31.258 18.463-32.311 8.288-1.053 13.46 11.706 11.552 28.498z" fill="#f95" stroke-width=".692"/>
      <path id="sucker-top-start-19" d="M-54.538 1120.049c10.512 19.726 7.715 43.981-6.247 54.174-13.962 10.192-33.802 2.463-44.314-17.264-10.513-19.726-7.716-43.981 6.246-54.173 13.962-10.193 33.802-2.464 44.315 17.263z" fill="#f95" stroke-width="1.155"/>
      <path id="sucker-top-start-15" d="M14.284 910.582c-3.862 16.439-16.177 29.388-27.506 28.924-11.329-.465-17.382-14.168-13.52-30.606 3.862-16.439 16.177-29.389 27.506-28.925 11.329.465 17.382 14.168 13.52 30.607z" fill="#f95" stroke-width=".81"/>
      <path id="sucker-top-start-18" d="M.018 1132.187c.069 18.151-6.576 32.891-14.842 32.923-8.266.032-15.023-14.657-15.092-32.809-.069-18.151 6.576-32.892 14.842-32.923 8.266-.032 15.023 14.657 15.092 32.809z" fill="#f95" stroke-width=".724"/>
      <path id="sucker-top-start-14" d="M57.823 937.756c-1.953 20.178-11.022 35.826-20.256 34.952-9.234-.874-15.137-17.94-13.184-38.117 1.953-20.178 11.022-35.826 20.256-34.952 9.235.874 15.137 17.94 13.184 38.117z" fill="#f95" stroke-width=".81"/>
      <path id="sucker-top-start-17" d="M41.98 1035.217c-1.618 23.323-11.56 41.655-22.205 40.946-10.646-.709-17.965-20.191-16.347-43.513 1.618-23.323 11.559-41.654 22.205-40.945 10.646.709 17.964 20.19 16.347 43.512z" fill="#f95" stroke-width=".933"/>
      <path id="sucker-top-start-16" d="M-16.331 1024.382c-2.714 20.26-14.789 35.894-26.971 34.919-12.181-.975-19.855-18.189-17.141-38.449 2.714-20.259 14.789-35.893 26.971-34.918 12.181.975 19.855 18.189 17.141 38.448z" fill="#f95" stroke-width=".933"/>
      <path class="sucker-end" id="sucker-top-end-12" d="M78.889 102.168c7.513 15.138 8.424 31.774 2.035 37.158-6.389 5.383-17.659-2.525-25.172-17.663-7.513-15.138-8.424-31.774-2.035-37.158 6.389-5.383 17.659 2.524 25.172 17.663z" fill="#f95" stroke-width=".692"/>
      <path class="sucker-end" id="sucker-top-end-14" d="M179.601 126.143c18.527 8.228 30.508 21.777 26.761 30.262s-21.803 8.694-40.33.466c-18.527-8.228-30.508-21.776-26.761-30.262 3.746-8.485 21.803-8.693 40.33-.466z" fill="#f95" stroke-width=".81"/>
      <path class="sucker-end" id="sucker-top-end-15" d="M130.171 158.766c12.434 11.425 17.683 28.508 11.724 38.154-5.959 9.646-20.87 8.204-33.304-3.222-12.434-11.426-17.683-28.508-11.724-38.154 5.959-9.647 20.87-8.204 33.304 3.222z" fill="#f95" stroke-width=".81"/>
      <path class="sucker-end" id="sucker-top-end-17" d="M265.989 212.291c14.319 18.479 19.106 38.777 10.69 45.335-8.415 6.558-26.846-3.106-41.166-21.585-14.32-18.48-19.106-38.777-10.69-45.336 8.415-6.558 26.846 3.106 41.166 21.586z" fill="#f95" stroke-width=".933"/>
      <path class="sucker-end" id="sucker-top-end-16" d="M200.618 211.674c11.463 16.924 12.861 36.629 3.123 44.011-9.739 7.382-26.925-.353-38.388-17.278-11.462-16.924-12.86-36.628-3.122-44.01 9.738-7.383 26.925.353 38.387 17.277z" fill="#f95" stroke-width=".933"/>
      <path class="sucker-end" id="sucker-top-end-18" d="M302.685 316.546c.069 18.151-6.576 32.892-14.842 32.923-8.266.032-15.023-14.657-15.092-32.808-.069-18.152 6.576-32.892 14.842-32.924 8.266-.032 15.023 14.657 15.092 32.809z" fill="#f95" stroke-width=".724"/>
      <path class="sucker-end" id="sucker-top-end-19" d="M248.129 304.408c10.512 19.727 7.715 43.981-6.247 54.174-13.962 10.193-33.802 2.464-44.314-17.263-10.513-19.727-7.716-43.981 6.246-54.174 13.962-10.193 33.802-2.464 44.315 17.263z" fill="#f95" stroke-width="1.155"/>
      <path class="sucker-end" id="sucker-top-end-3" d="M269.648 73.247c-1.35 2.352-3.569 3.995-4.957 3.671-1.387-.324-1.417-2.493-.067-4.845 1.35-2.351 3.569-3.994 4.957-3.67 1.387.324 1.417 2.493.067 4.844z" fill="#f95" stroke-width=".114"/>
      <path class="sucker-end" id="sucker-top-end-1" d="M268.445 44.847c1.834 2.592 2.491 5.764 1.468 7.085-1.023 1.322-3.338.293-5.172-2.299-1.834-2.592-2.491-5.764-1.468-7.085 1.022-1.322 3.338-.293 5.172 2.299z" fill="#f95" stroke-width=".133"/>
      <path class="sucker-end" id="sucker-top-end-2" d="M260.307 67.75c-3.762 2.677-8.367 3.637-10.285 2.144-1.919-1.494-.424-4.875 3.337-7.552 3.762-2.677 8.367-3.637 10.286-2.144 1.918 1.494.424 4.875-3.338 7.552z" fill="#f95" stroke-width=".194"/>
      <path class="sucker-end" id="sucker-top-end-4" d="M246.571 85.966c-4.568.645-9.098-.624-10.118-2.834-1.02-2.21 1.856-4.525 6.424-5.17 4.568-.645 9.098.624 10.118 2.834 1.02 2.211-1.857 4.525-6.424 5.17z" fill="#f95" stroke-width=".194"/>
      <path class="sucker-end" id="sucker-top-end-5" d="M226.015 74.146c-6.644-1.528-13.222-6.035-14.692-10.066-1.47-4.032 2.724-6.061 9.369-4.533 6.644 1.528 13.222 6.035 14.692 10.066 1.47 4.032-2.725 6.061-9.369 4.533z" fill="#f95" stroke-width=".293"/>
      <path class="sucker-end" id="sucker-top-end-6" d="M200.901 83.228c-6.823.224-13.586-2.47-15.106-6.017-1.519-3.547 2.78-6.603 9.604-6.826 6.823-.224 13.586 2.47 15.106 6.017 1.519 3.546-2.78 6.603-9.604 6.826z" fill="#f95" stroke-width=".293"/>
      <path class="sucker-end" id="sucker-top-end-7" d="M177.262 65.064c-6.823.224-13.586-2.47-15.106-6.017-1.519-3.547 2.78-6.603 9.604-6.826 6.823-.224 13.586 2.47 15.106 6.017 1.519 3.546-2.78 6.603-9.604 6.826z" fill="#f95" stroke-width=".293"/>
      <path class="sucker-end" id="sucker-top-end-9" d="M116.703 64.734c-9.4 2.108-18.725.339-20.829-3.951-2.103-4.291 3.812-9.477 13.212-11.585 9.401-2.108 18.726-.339 20.829 3.951 2.104 4.29-3.811 9.477-13.212 11.585z" fill="#f95" stroke-width=".395"/>
      <path class="sucker-end" id="sucker-top-end-11" d="M105.895 91.162c-6.49 5.875-14.647 8.653-18.22 6.204-3.572-2.449-1.207-9.196 5.284-15.071 6.49-5.875 14.647-8.653 18.22-6.204 3.572 2.449 1.207 9.196-5.284 15.071z" fill="#f95" stroke-width=".359"/>
      <path class="sucker-end" id="sucker-top-end-8" d="M157.902 92.422c-11.492.376-22.882-4.161-25.441-10.134-2.559-5.973 4.682-11.12 16.173-11.496 11.492-.377 22.882 4.16 25.441 10.133 2.559 5.973-4.682 11.12-16.173 11.497z" fill="#f95" stroke-width=".493"/>
      <path class="sucker-end" id="sucker-top-end-13" d="M111.688 109.503c9.204 2.987 16.37 9.288 16.006 14.076-.363 4.787-8.118 6.247-17.322 3.26-9.203-2.986-16.369-9.288-16.006-14.075.363-4.788 8.119-6.247 17.322-3.261z" fill="#f95" stroke-width=".397"/>
      <path class="sucker-end" id="sucker-top-end-10" d="M74.818 66.938c-6.49 5.874-14.647 8.652-18.22 6.203-3.572-2.448-1.207-9.196 5.284-15.071 6.49-5.875 14.647-8.652 18.22-6.204 3.572 2.449 1.207 9.197-5.284 15.072z" fill="#f95" stroke-width=".359"/>
      <path id="sucker-base-start-1" d="M222.527 520.517c1.068 3.353.698 6.924-.825 7.977-1.524 1.054-3.626-.811-4.694-4.163-1.068-3.353-.699-6.925.825-7.978s3.625.811 4.694 4.164z" fill="#a40" stroke-width=".147"/>
      <path id="sucker-top-start-1" d="M223.021 520.096c.964 3.025.631 6.247-.744 7.197-1.375.95-3.271-.732-4.235-3.757-.963-3.025-.63-6.247.745-7.197 1.375-.95 3.271.732 4.234 3.757z" fill="#f95" stroke-width=".133"/>
    </svg>
    <div id="slider"></div>
  </div>
</template>

<script type="module">
import { gsap } from "gsap/dist/gsap.js";
import { MorphSVGPlugin } from "gsap/dist/MorphSVGPlugin.js";

export default {
  data() {
    return {
      reveal: false
    }
  },
  mounted() {
    gsap.registerPlugin(MorphSVGPlugin)
    const tl = gsap.timeline({
      defaults: {duration: 1}
    })
    const tentacleStart = document.getElementById("tentacle-start")
    this.reveal = true
    tl.add('morphit')
    tl.to(tentacleStart, {onUpdate:updateSlider,morphSVG:"#tentacle-end"}, 'morphit')

    for (let i = 1; i <= 19; i++) {
      const suckerTopStart = document.getElementById("sucker-top-start-"+i)
      const suckerBaseStart = document.getElementById("sucker-base-start-"+i)
      tl.to(suckerTopStart, {onUpdate: updateSlider, morphSVG:"#sucker-top-end-"+i }, 'morphit')
      tl.to(suckerBaseStart, {onUpdate: updateSlider, morphSVG:"#sucker-base-end-"+i }, 'morphit')
    }

    tl.to(tentacleStart, {onUpdate: updateSlider, opacity:0, duration: 1}, 'morphit+1',)

    // document.getElementById("slider").slider({
    //   range: false,
    //   min: 0,
    //   max: 1,
    //   step:.001,
    //   slide: function ( event, ui ) {
    //     tl.progress( ui.value ).pause();
    //   },
    //   stop: function () {
    //     tl.play();
    //   }
    // });	

    function updateSlider() {
    //   document.getElementById("slider").slider("value", tl.progress());
    }
  }
}
</script>

<style scoped>
  svg {
    display: block;
    margin: 20px auto;
    width: 350px;
  }

  #tentacle-end, .sucker-end {
    visibility:hidden;
  }

  #slider {
    display: none;
    width:350px;
    margin:20px auto;
  }
</style>