:root {
  --c-bg-navbar: #f1f5f9;
  --c-brand: #0284c7;
  --c-brand-light: #0ea5e9;
}

html.dark {
  --c-bg: #334155;
  --c-bg-navbar: #0f172a;
  --c-brand: #f97316;
  --c-brand-light: #fdba74;
}

.site-name {
  display: none;
}